#content {
    text-align: center;
}

#donateForm {
    margin-top: 25%;
}

#currentContractBalance {
    margin-top: 1rem;
    font-size: 2rem;
    font-weight: bold;
}

#balanceRefreshClick:hover {
    cursor: pointer;
    /*animation: rotate 2s infinite;*/
}

/*
@keyframes rotate {
    from { transform: rotate(-360deg); }
    to { transform: rotate(360deg); }
}*/